.about {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #101010;
  color: white;
  padding-top: 4rem;
  padding-left: 10rem;

  &.mounted {
    section {
      width: 100%;
      transition: 0.3s;
    }

    .back-button {
      width: 10rem;
      transition: 0.3s;
    }
  }

  section {
    max-width: 350px;
    width: 0px;
    transition: 0.3s;
    padding-right: 1rem;
    overflow: hidden;
  }

  article {
    max-width: 350px;
    width: calc(100vw - 10rem - 2rem);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    
    p {
      margin-top: 0;
    }

    .ctn-socials {
      align-items: center;
      a {
        display: block;
        img {
          width: 3rem;
        }

        &:first-child {
          margin-right: 1rem;
          img {
            width: 2rem;
          }
        }
      }
    }
  }

  .back-button {
    position: absolute;
    width: 0rem;
    height: 4rem;
    top: 0;
    left: 0;

    .main-stroke {
      height: 2px;
    }

    .small-stroke {
      height: 2px;
      transform: translate(-2px, -0.5px) rotate(45deg);

      &:nth-child(2) {
        transform: translate(-2px, 0.5px) rotate(-45deg);
      }
    }
  }
}