.viewer {
  padding: 2rem;
  transition: 0.3s;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #101010;
    transition: 0.3s;
  }

  &.mounted {
    transition: 0.3s;

    &::after {
      width: calc(100vw - 4rem);
      height: calc(100vh - 4rem);
      top: 2rem;
      left: 2rem;
      transition: 0.3s;
    }

    .render {
      transition: 0.3s;
    }

    .back-button {
      transition-delay: 0.3s;
      transition-duration: 0.5s;
      width: 20rem;
    }
  }
  
  .render {
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    transition: 0.3s;
    position: relative;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .back-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 0rem;
    height: 8rem;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;

    .main-stroke {
      position: absolute;
      height: 1px;
      width: 50%;
      background-color: #101010;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .small-stroke {
      position: absolute;
      height: 1px;
      width: 5%;
      background-color: #101010;
      top: 50%;
      left: calc((100% - 50%) / 2);
      transform-origin: left;
      transform: rotate(45deg);

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}