.back-button {
    width: 20rem;
    height: 8rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    transform: translate(0, 0);
    transition: width 0.3s 0.5s, transform 0.5s;

    .main-stroke {
      position: absolute;
      height: 1px;
      width: 50%;
      background-color: #101010;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .small-stroke {
      position: absolute;
      height: 1px;
      width: 5%;
      background-color: #101010;
      top: 50%;
      left: calc((100% - 50%) / 2);
      transform-origin: left;
      transform: rotate(45deg);

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      transform: translate(-2rem, 0rem);
      transition: 0.5s;
    }
  }